[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.13"
sqlalchemy = "2.0.28"
alembic = "1.13.1"

[dev-packages]

[requires]
python_version = "3.10.12"
